.header {
    background-color: #50b8fd;
    line-height: 45px;
}

.navbar-brand-center {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    color: #fff;
}

.navbar-brand-center:hover {
    color: rgb(206, 204, 204);
}