
<nav class="navbar navbar-expand-xs header row" >
  <%= link_to "If Then Plannig", root_path, class: " navbar-brand navbar-brand-center mx-auto" %>
  <nav class="navbar ">
    <%= link_to "", edit_user_registration_path, class: "fas fa-user-edit btn " %>
  </nav>
</nav>

