.list-group {
    margin-top: 20px;
}

.list-color {
    background: #50b8fd;
}

.add-btn {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    font-size: 30px;
    text-decoration: none;
    display: block;
    text-align: center;
    color: #FFFFFF;
    background: #50b8fd;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}

.add-btn:hover {
    color: rgb(105, 99, 99);
    background: #24516e;
}